apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
      - name: inventory
        image: ecomerce-inventory:latest
        imagePullPolicy: Never
        command: ["node", "dist/apps/inventory/main"]
        env:
        - name: RABBITMQ_URL
          value: "amqp://rabbitmq:5672"
---
apiVersion: v1
kind: Service
metadata:
  name: inventory
spec:
  selector:
    app: inventory
  ports:
  - port: 80
