apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: ecomerce-orders:latest
        imagePullPolicy: Never
        command: ["node", "dist/apps/orders/main"]
        env:
        - name: RABBITMQ_URL
          value: "amqp://rabbitmq:5672"
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: orders
spec:
  selector:
    app: orders
  type: LoadBalancer
  ports:
  - port: 3000
    targetPort: 3000
